<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>列表</h2>
    </div>
    <div class="tools">
        <a class="btn" href="{:U('Product/add')}">新 增</a>
        <if condition="$UID eq 1">
            <a class="btn alleditbasePrice" href="javascript:void(0)">修改进货价</a>
        </if>
        <a class="btn alleditdailiPrice" href="javascript:void(0)">修改批发价</a>
        <a class="btn alleditPrice" href="javascript:void(0)">修改零售价</a>

        <div class="search-form fr cf">
            <div class="sleft">
                    <input type="text" id="name" name="name" class="search-input" value="{:I('name')}" placeholder="请输入要查找的产品编号">
                    <a class="sch-btn" href="javascript:;" id="search" url="{:U('Product/showI')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <!-- 数据列表 -->
    <div class="data-table">
        <div class="data-table table-striped">
    <table class="">
    <thead>
        <tr>
        <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
        <th>名称</th>
        <th>产品编号</th>
        <th>进货价</th><!-- 上一级代理价 -->
        <th>批发价</th><!-- 代理价 -->
        <if condition="$UID eq 1">
            <th>建议零售价</th>
            <else/>
            <th>零售价</th>
        </if>
        
        <th>规格</th>
        <th>品牌</th>
        <th>游览图片（190x144）</th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
    <notempty name="list">
        <volist name="list" id="vo">
        <tr class="tr">
            <if condition="$UID eq 1">
                <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
                <td>{$vo.produce_id|get_product_name}</td>
                <td>{$vo.number}</td>
                <td>{$vo.base_price}</td>
                <td>{$vo.daili_price}</td>
                <td>{$vo.price}</td>
                <td>{$vo.size}</td>
                <td>{$vo.brand_id|get_brand}</td>
                <td><img src="__ROOT__/Uploads/Images/{$vo.image1}" style="height: 50px;"></td>
            <else/>
                <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.produce_id}" /></td>
                <td>{$vo.produce_id|get_product_name}</td>
                <td>{$vo.produce_id|get_product_number}</td>
                <td>{$vo.in_price}</td>
                <td>{$vo.daili_price}</td>
                <td>{$vo.price}</td>
                <td>{$vo.produce_id|get_product_size}</td>
                <td>{$vo.brand_id|get_brand}</td>
                <td><img src="__ROOT__/Uploads/Images/{$vo.image1}" style="height: 50px;"></td>
            </if>
            <td>
                <if condition="$UID eq 1">
                    <a class="btn editbasePrice" href="javascript:void(0)">进价</a>
                </if>
                <a class="btn editdailiPrice" href="javascript:void(0)">批发价</a>
                <a class="btn editPrice" href="javascript:void(0)">零售价</a>
            </td>
        </tr>
        </volist>
        <else/>
        <td colspan="7" class="text-center"> aOh! 暂时还没有内容! </td>
        </notempty>
    </tbody>
    </table>

        </div>
    </div>
    <div class="page">
        {$page}
    </div>
</block>

<block name="script">
   <script type="text/javascript">
        $(function(){
            //搜索功能
            $("#search").click(function(){
                var url = $(this).attr('url');
                var query  = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
                query = query.replace(/^&/g,'');
                if( url.indexOf('?')>0 ){
                    url += '&' + query;
                }else{
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e){
                if(e.keyCode === 13){
                    $("#search").click();
                    return false;
                }
            });

            //单项修改批发价
            $(".editdailiPrice").click(function(){
                var produce_id = $(this).closest("tr").children("td").eq(0).find(".ids").val();
                var tr = $(this).closest("tr").children("td").eq(4);
                var price = prompt("请输入批发价格");
                if(price){
                    $.post(
                        "__URL__/editPrice",
                        {daili_price:price,produce_id:produce_id},
                        function(data){
                               if (data=='a') {
                                    alert("修改成功");
                                    tr.html(price);
                                }else{
                                    alert("修改失败");
                                }; 
                        }
                    );
                }else{
                     alert('抱歉，您没有输入批发价格');
                }
            });

            //批量修改批发价
            $(".alleditdailiPrice").click(function(){
                var count = 0
                var arr_id = new Array();
                for(var i=0;i<$('.tr').length;i++){
                    if($('.ids').eq(i).is(':checked'))
                    {
                        var id = $('.ids').eq(i).val();
                        arr_id[count++]=id;
                    }
                }
                if (arr_id.length!=0) {
                    var price = prompt("请输入批发价格");
                    if (price) {
                        $.post(
                            "__URL__/manyeditPrice",
                            {arr_id:arr_id,price:price},
                            function(data){
                                if (data=='a') {
                                    alert("修改成功");
                                    window.location.reload();
                                }else{
                                    alert("修改失败");
                                };
                                
                            }
                        );
                    }else{
                        alert('抱歉，您没有输入批发价格');
                    }; 
                }else{
                    alert("请选中需要修改的选项");
                };
            });
            //单项修改零售价
             $(".editPrice").click(function(){
                var produce_id = $(this).closest("tr").children("td").eq(0).find(".ids").val();
                var tr = $(this).closest("tr").children("td").eq(5);
                var price = prompt("请输入零售价格");
                if(price){
                    $.post(
                        "__URL__/editlPrice",
                        {price:price,produce_id:produce_id},
                        function(data){
                               if (data=='a') {
                                    alert("修改成功");
                                    tr.html(price);
                                }else{
                                    alert("修改失败");
                                }; 
                        }
                    );
                }else{
                     alert('抱歉，您没有输入批发价格');
                }
            });
        //批量修改零售价
            $(".alleditPrice").click(function(){
                var count = 0
                var arr_id = new Array();
                for(var i=0;i<$('.tr').length;i++){
                    if($('.ids').eq(i).is(':checked'))
                    {
                        var id = $('.ids').eq(i).val();
                        arr_id[count++]=id;
                    }
                }
                if (arr_id.length!=0) {
                    var price = prompt("请输入零售价格");
                    if (price) {
                        $.post(
                            "__URL__/manyeditlPrice",
                            {arr_id:arr_id,price:price},
                            function(data){
                                if (data=='a') {
                                    alert("修改成功");
                                    window.location.reload();
                                }else{
                                    alert("修改失败");
                                };
                                
                            }
                        );
                    }else{
                        alert('抱歉，您没有输入批发价格');
                    }; 
                }else{
                    alert("请选中需要修改的选项");
                };
            });

            //单项修改进价
            $(".editbasePrice").click(function(){
                var produce_id = $(this).closest("tr").children("td").eq(0).find(".ids").val();
                var tr = $(this).closest("tr").children("td").eq(3);
                var price = prompt("请输入进价价格");
                if(price){
                    $.post(
                        "__URL__/editbasePrice",
                        {base_price:price,produce_id:produce_id},
                        function(data){
                               if (data=='a') {
                                    alert("修改成功");
                                    tr.html(price);
                                }else{
                                    alert("修改失败");
                                }; 
                        }
                    );
                }else{
                     alert('抱歉，您没有输入批发价格');
                }
            });

            //批量修改进价
            $(".alleditbasePrice").click(function(){
                var count = 0
                var arr_id = new Array();
                for(var i=0;i<$('.tr').length;i++){
                    if($('.ids').eq(i).is(':checked'))
                    {
                        var id = $('.ids').eq(i).val();
                        arr_id[count++]=id;
                    }
                }
                if (arr_id.length!=0) {
                    var price = prompt("请输入零售价格");
                    if (price) {
                        $.post(
                            "__URL__/alleditbasePrice",
                            {arr_id:arr_id,base_price:price},
                            function(data){
                                if (data=='a') {
                                    alert("修改成功");
                                    window.location.reload();
                                }else{
                                    alert("修改失败");
                                };
                                
                            }
                        );
                    }else{
                        alert('抱歉，您没有输入批发价格');
                    }; 
                }else{
                    alert("请选中需要修改的选项");
                };
            });
        });
   </script>
</block>
