<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>店内商品-酷乐虎壁纸系统</title>
<meta name="keywords" content="酷乐虎壁纸系统">
<meta name="description" content="酷乐虎壁纸系统">
<meta name="author" content="酷乐虎壁纸系统"/>
<meta name="copyright" content="酷乐虎壁纸系统"/>
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<link rel="stylesheet" type="text/css" href="__HOME_PUBLIC__/skin/css/style.css">
<script src="__HOME_PUBLIC__/skin/js/jquery-1.10.1.min.js"></script>
<script src="__HOME_PUBLIC__/skin/js/jquery-migrate-1.2.1.min.js"></script>

<link rel="stylesheet" href="__HOME_PUBLIC__/skin/css/idangerous.swiper.css"><!-- 划屏 -->
<link rel="stylesheet" href="__HOME_PUBLIC__/skin/css/idangerous.swiper.scrollbar.css"><!-- 划屏滚动条 -->
<script src="__HOME_PUBLIC__/skin/js/idangerous.swiper-2.0.min.js"></script><!-- 划屏 -->
<script src="__HOME_PUBLIC__/skin/js/idangerous.swiper.scrollbar-2.0.js"></script><!-- 划屏滚动条 -->

<script>
$(function(){
	$("#menu ul").animate({top: 0}, 1000);
});
</script>

<!-- 产品滑动 -->
<script type="text/javascript" src="__HOME_PUBLIC__/skin/js/jquery.promptu-menu.js"></script>

<script type="text/javascript"> 
$(document).ready(function() 
{
	if($(window).width()>1420){
		$(function(){
		eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('$(\'7.6-9\').8({1:0,4:2,e:3,f:5,a:\'b\',c:d});',21,21,'1400|width|740||height||promptu|ul|promptumenu|menu4|direction|vertical|pages|false|rows|columns'.split('|'),0,{}))
	});
	}else  if($(window).width()>1025 && $(window).width()<1420){
		$(function(){
		eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('$(\'7.6-9\').8({1:0,4:2,e:3,f:5,a:\'b\',c:d});',21,21,'1160|width|760||height||promptu|ul|promptumenu|menu4|direction|vertical|pages|false|rows|columns'.split('|'),0,{}))
	});
	}else  if($(window).width()<=1024){
		$(function(){
		eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('$(\'7.6-9\').8({1:0,4:2,e:3,f:5,a:\'b\',c:d});',21,21,'980|width|510||height||promptu|ul|promptumenu|menu4|direction|vertical|pages|false|rows|columns'.split('|'),0,{}))
	});
	}
} 
) 
</script>


</head>

<body>
<div class="in_wrapper">
	<include file="nav" />
    <!--/top-->
    
    <div class="tip tip_t">
    <div class="tip_l">当前位置： <a href="#">品牌</a> > <a href="#">某某品牌</a> > <a href="#">可可系列</a></div>
    <div class="tip_r">
      <form action="{:U('Product/search')}" method="post">
            <input class="txt" name="name" type="text" placeholder="产品搜索" />
            <input type="submit" class="btn_ss22" href="search.html">
            <input type="submit" class="btn_ss2" href="gsearch.html"></div>
     </form>
    </div>
    <div class="clear"></div>
    </div>
  	<!--/tip-->

    <div class="content">
    <div class="search">
      <table>
        <tr>
          <th colspan="3">高级搜索</th>
        </tr>
        <tr>
          <td colspan="3" style="padding:5px 0;"></td>
        </tr>
        <tr class="hr">
          <td colspan="3" style="padding:0;"></td>
        </tr>
        <tr>
          <td colspan="3" style="padding:5px 0;"></td>
        </tr>
        <tr>
          <td>关 键 字：
            <input class="txt" name="" type="text" /></td>
          <td>编&nbsp;&nbsp;&nbsp;&nbsp;号：
            <select class="txt2" name="">
              <option></option>
            </select></td>
          <td>品&nbsp;&nbsp;&nbsp;&nbsp;牌：
            <select class="txt2" name="">
              <option></option>
            </select></td>
        </tr>
        <tr>
          <td>用&nbsp;&nbsp;&nbsp;&nbsp;途：
            <input class="txt" name="" type="text" /></td>
          <td>风&nbsp;&nbsp;&nbsp;&nbsp;格：
            <select class="txt2" name="">
              <option></option>
            </select></td>
          <td>材&nbsp;&nbsp;&nbsp;&nbsp;质：
            <select class="txt2" name="">
              <option></option>
            </select></td>
        </tr>
        <tr>
          <td colspan="3" style="padding:5px 0;"></td>
        </tr>
        <tr class="hr">
          <td colspan="3" style="padding:0;"></td>
        </tr>
        <tr>
          <td colspan="3" style="padding:5px 0;"></td>
        </tr>
        <tr>
          <td>价&nbsp;&nbsp;&nbsp;&nbsp;格：
            <input class="txt" name="" type="text" /></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="txt" name="" type="text" /></td>
          <td>元</td>
        </tr>
        <tr>
          <td colspan="3" style="padding:5px 0;"></td>
        </tr>
        <tr class="hr">
          <td colspan="3" style="padding:0;"></td>
        </tr>
        <tr>
          <td colspan="3" style="padding:5px 0;"></td>
        </tr>
      </table>
      <div align="right"><a class="btn_ss" href="#"><img src="__HOME_PUBLIC__/images/btn_ss.png" /></a></div>
    </div>
  </div>
  <!--content-->
  <div class="h45"></div>
</div>

</body>
</html>
