<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<title>【壁纸系统】</title>
<meta name="keywords" content="壁纸系统" />
<meta name="description" content="壁纸系统" />
<meta name="robots" content="all" />
<meta name="author" content="壁纸系统" />
<meta name="Classification" content="壁纸系统" />
<meta name="Copyright" content="酷乐虎网络 CopyRight 2014" />
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<link rel="stylesheet" type="text/css" href="__HOME_PUBLIC__/themes/css/style.css">

<script src="__HOME_PUBLIC__/themes/js/jquery-1.10.1.min.js"></script>
<script src="__HOME_PUBLIC__/themes/js/jquery-migrate-1.2.1.min.js"></script>

<link rel="stylesheet" href="__HOME_PUBLIC__/themes/css/idangerous.swiper.css"><!-- 划屏 -->
<link rel="stylesheet" href="__HOME_PUBLIC__/themes/css/idangerous.swiper.scrollbar.css"><!-- 划屏滚动条 -->
<script src="__HOME_PUBLIC__/themes/js/idangerous.swiper-2.0.min.js"></script><!-- 划屏 -->
<script src="__HOME_PUBLIC__/themes/js/idangerous.swiper.scrollbar-2.0.js"></script><!-- 划屏滚动条 -->


<script type="text/javascript" src="__HOME_PUBLIC__/themes/js/jquery.rotate.min.js"></script><!-- 图标翻转 -->

<script type="text/javascript" charset="utf-8" src="__HOME_PUBLIC__/themes/js/mousewheel.js"></script><!-- 详细页滚动条 -->
<script type="text/javascript" charset="utf-8" src="__HOME_PUBLIC__/themes/js/easyscroll.js"></script><!-- 详细页滚动条 -->
<script type="text/javascript">$(function(){$('.div_scroll').scroll_absolute({arrows:true})});</script><!-- 详细页滚动条 -->


<script>
$(function(){
	$(".top_m_l").animate({top: 22}, 1000);
	$(".top_m_r").animate({top: 15}, 1000);
});

$(document).ready(function(){
$(".img2").rotate({ 
   bind: 
     { 
        mouseover : function() { 
            $(this).rotate({animateTo:90});
        },
        mouseout : function() { 
            $(this).rotate({animateTo:0});
        }
     } 
});
});
</script>

<!--[if lte IE 6]>
<script type="text/javascript" src="themes/js/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('body *');
</script>
<![endif]-->
<!--[if lt IE 9]>
	<script src="themes/js/html5.js"></script>
<![endif]-->
</head>

<body>

<div class="top">
	<div class="top_m">
    	<div class="top_m_l">
          <a href="javascript:void(0)" class="top_a1">{:getName()}</a>
            <a href="{:U('Product/shop_cart')}" class="top_a2">购物车</a>
            <a href="{:U('Product/wddd')}" class="top_a3">用户中心</a>
            <a href="{:U('Product/prosc')}" class="top_a3">产品收藏夹</a>
        </div>
        <div class="top_m_r">
          <a class="a1" href="javascript:void(0)">店内商品</a>
          <a class="a2" href="{:U('News/index')}">信息中心</a>
          <a class="a3" href="{:U('Product/product')}">产品中心</a>
          <a class="a4" href="{:U('Product/huodong')}">优惠活动</a>
        </div>
        <div class="tip_r"><a href="javascript:;" onClick="javascript:history.back(-1);" class="btn_back"></a></div>
    </div>
</div>
<!--/top-->

<div class="tip">
	<div class="tip_l">当前位置： <a href="#">优惠活动</a> > <a href="#">活动详情</a></div>
</div>
<!--/tip-->

<div class="in_wrapper_pag">

<div class="propag_list">
	<div class="news_list">
      <div class="news_info_tit">早春设计抢先看 两款“花样”高端壁纸比较评测</div>
   	  <div class="news_info">
        	<p>
       		  <div>
              
              	按照下面几个步骤去贴，墙纸就会有好效果！<br>
            	  1．清理墙壁装饰物和置物架。<br>
            	  2．以1：2比例调制的去壁纸剂用刷子均匀的涂抹在旧壁纸上。<br>
            	  3．等去壁纸剂完全渗透后，用刮刀和手将多余壁纸去除。<br>
            	  4．将墙面凹洞，用腻子填补，用刮刀整平墙面。<br>
            	  5．丈量墙壁的尺寸，再以墙壁面积为基准丈量壁纸，要注意壁纸的长度，要比实际贴面上下多5Cm。<br>
            	  <br>
            	  6．接着将粉状壁纸胶加水调和一般壁纸以1：3调和，发泡壁纸以1：2调和，或使用不需调制的壁纸专用胶粘贴，用滚筒刷沾调和过的壁纸专用胶均匀的刷在 壁纸背面。<br>
            	  7．接着将壁纸靠在墙上，以木柄刷由上往下、由边角往内贴，使壁纸整平。<br>
            	  8．遇到电源开关或插座时，先将壁纸盖上然后用木柄刷刷平，再利用美工刀在上面以对角线画十字，用刮刀抵住开关的边缘，用美工刀顺势割去多余的部分。<br>
           	  9．若遇到由印花壁纸衔接时，在两壁纸衔接处找到花纹一致位置，重叠贴上约12cm宽，待整张壁纸全部对齐后，用刮刀抵住，再将重叠部分用刀片割下即可。
              5．丈量墙壁的尺寸，再以墙壁面积为基准丈量壁纸，要注意壁纸的长度，要比实际贴面上下多5Cm。<br>
            	  <br>
            	  6．接着将粉状壁纸胶加水调和一般壁纸以1：3调和，发泡壁纸以1：2调和，或使用不需调制的壁纸专用胶粘贴，用滚筒刷沾调和过的壁纸专用胶均匀的刷在 壁纸背面。<br>
            	  7．接着将壁纸靠在墙上，以木柄刷由上往下、由边角往内贴，使壁纸整平。<br>
            	  8．遇到电源开关或插座时，先将壁纸盖上然后用木柄刷刷平，再利用美工刀在上面以对角线画十字，用刮刀抵住开关的边缘，用美工刀顺势割去多余的部分。<br>
           	  9．若遇到由印花壁纸衔接时，在两壁纸衔接处找到花纹一致位置，重叠贴上约12cm宽，待整张壁纸全部对齐后，用刮刀抵住，再将重叠部分用刀片割下即可。
              5．丈量墙壁的尺寸，再以墙壁面积为基准丈量壁纸，要注意壁纸的长度，要比实际贴面上下多5Cm。<br>
            	  <br>
            	  6．接着将粉状壁纸胶加水调和一般壁纸以1：3调和，发泡壁纸以1：2调和，或使用不需调制的壁纸专用胶粘贴，用滚筒刷沾调和过的壁纸专用胶均匀的刷在 壁纸背面。<br>
            	  7．接着将壁纸靠在墙上，以木柄刷由上往下、由边角往内贴，使壁纸整平。<br>
            	  8．遇到电源开关或插座时，先将壁纸盖上然后用木柄刷刷平，再利用美工刀在上面以对角线画十字，用刮刀抵住开关的边缘，用美工刀顺势割去多余的部分。<br>
           	  9．若遇到由印花壁纸衔接时，在两壁纸衔接处找到花纹一致位置，重叠贴上约12cm宽，待整张壁纸全部对齐后，用刮刀抵住，再将重叠部分用刀片割下即可。
              
              </div>
            </p>
        </div>
        <div class="clear"></div>
    </div>
</div>

</div>
<script type="text/javascript" src="__HOME_PUBLIC__/themes/js/lanrenzhijia.js"></script>
<div class="PathInner" id="PathMenu" style="position:fixed; left:20px; bottom:20px;">
  <div class="PathMain">
    <div class="Tmain" onclick="PathRun();">
      <div class="rotate"><span class="cover"></span></div>
    </div>
  </div>
  <div class="PathItem">
   <a class="link" href="{:U('Product/product')}" title="产品中心"> 
    <span class="item" style="background-image:url(__HOME_PUBLIC__/images/moment_icn_pic.png);"></span>
   </a>
  </div>
  <div class="PathItem"> 
   <a class="link" href="{:U('Product/huodong')}" title="优惠活动"> 
    <span class="item" style="background-image:url(__HOME_PUBLIC__/images/moment_icn_info.png);"></span> 
   </a>
  </div>
  <div class="PathItem"> 
   <a class="link" href="{:U('Product/search')}" title="高级搜索"> 
    <span class="item" style="background-image: url(__HOME_PUBLIC__/images/moment_icn_address.png);"></span> 
   </a>
  </div>
  <div class="PathItem"> 
   <a class="link" href="{:U('Product/shop_cart')}" title="我的购物车"> 
    <span class="item" style="background-image: url(__HOME_PUBLIC__/images/moment_icn_price.png);"></span> 
   </a>
  </div>
</div>
</body>
</html>