<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>店内商品-酷乐虎壁纸系统</title>
<meta name="keywords" content="酷乐虎壁纸系统">
<meta name="description" content="酷乐虎壁纸系统">
<meta name="author" content="酷乐虎壁纸系统"/>
<meta name="copyright" content="酷乐虎壁纸系统"/>
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<link rel="stylesheet" type="text/css" href="skin/css/style.css">
<script src="skin/js/jquery-1.10.1.min.js"></script>
<script src="skin/js/jquery-migrate-1.2.1.min.js"></script>

<link rel="stylesheet" href="skin/css/idangerous.swiper.css"><!-- 划屏 -->
<link rel="stylesheet" href="skin/css/idangerous.swiper.scrollbar.css"><!-- 划屏滚动条 -->
<script src="skin/js/idangerous.swiper-2.0.min.js"></script><!-- 划屏 -->
<script src="skin/js/idangerous.swiper.scrollbar-2.0.js"></script><!-- 划屏滚动条 -->
<SCRIPT language=javascript> 
<!-- 
window.onerror=function(){return true;} 
// --> 
</SCRIPT> 

<script>
$(function(){
	$("#menu ul").animate({top: 0}, 1000);
});
</script>

<!-- 产品滑动 -->
<script type="text/javascript" src="skin/js/jquery.promptu-menu.js"></script>

<script type="text/javascript"> 
$(document).ready(function() 
{
	if($(window).width()>1420){
		$(function(){
		eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('$(\'7.6-9\').8({1:0,4:2,e:3,f:5,a:\'b\',c:d});',21,21,'1400|width|740||height||promptu|ul|promptumenu|menu4|direction|vertical|pages|false|rows|columns'.split('|'),0,{}))
	});
	}else  if($(window).width()>1025 && $(window).width()<1420){
		$(function(){
		eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('$(\'7.6-9\').8({1:0,4:2,e:3,f:5,a:\'b\',c:d});',21,21,'1160|width|760||height||promptu|ul|promptumenu|menu4|direction|vertical|pages|false|rows|columns'.split('|'),0,{}))
	});
	}else  if($(window).width()<=1024){
		$(function(){
		eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('$(\'7.6-9\').8({1:0,4:2,e:3,f:5,a:\'b\',c:d});',21,21,'980|width|510||height||promptu|ul|promptumenu|menu4|direction|vertical|pages|false|rows|columns'.split('|'),0,{}))
	});
	}
} 
) 
</script>


</head>

<body>
<div class="in_wrapper">
	<div id="top">
    	<div class="top_m">
    	<div class="top_l">乔先生您已登录<a hidden="#" class="ico_1">购物车</a><a href="login.html" class="ico_2">用户中心</a></div>
        <div class="top_menu">
        	<a class="a1 a1_on" href="diannei.html">店内商品</a>
        	<a class="a2" href="news_list.html">信息中心</a>
        	<a class="a3" href="product.html">产品中心</a>
        </div>
        <div class="clear"></div>
    	<a href="index.html" class="btn_back"></a> </div>
    </div>
    <!--/top-->
    
    <div class="tip tip_t">
    <div class="tip_l">当前位置： <a href="#">品牌</a> > <a href="#">某某品牌</a> > <a href="#">可可系列</a></div>
    <div class="tip_r">
     <form action="{:U('Product/search')}" method="post">
            <input class="txt" name="name" type="text" placeholder="产品搜索" />
            <input type="submit" class="btn_ss22" href="search.html">
            <input type="submit" class="btn_ss2" href="gsearch.html"></div>
     </form>
    <div class="clear"></div>
    </div>
  	<!--/tip-->

    <div class="content" style="padding:10px 0; height:850px;">
    
    <div style="width:850px; height:421px; margin:20% auto 0;">
    
    <div style="width:850px; height:53px; border:#2b2b2b solid 1px; background:#0b0b0b; padding:20px 0px;">
         <a href="pro_page.html" style="width:auto; height:40px; background:#cccc; border:#aaa solid 1px; display:block; border-radius:20px; margin-left:20px; margin-right:50px;text-align:center; font-size:16px; line-height:40px; color:#CCC">您订单已经提交成功！点击查看</a>
    </div>
    </div>
    <!--/product--> 
  </div>
  <!--content-->
  <div class="h45"></div>
</div>

</body>
</html>
