<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>店内商品-酷乐虎壁纸系统</title>
<meta name="keywords" content="酷乐虎壁纸系统">
<meta name="description" content="酷乐虎壁纸系统">
<meta name="author" content="酷乐虎壁纸系统"/>
<meta name="copyright" content="酷乐虎壁纸系统"/>
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<link rel="stylesheet" type="text/css" href="__HOME_PUBLIC__/skin/css/style.css">
<script src="__HOME_PUBLIC__/skin/js/jquery-1.10.1.min.js"></script>
<script src="__HOME_PUBLIC__/skin/js/jquery-migrate-1.2.1.min.js"></script>

<link rel="stylesheet" href="__HOME_PUBLIC__/skin/css/idangerous.swiper.css"><!-- 划屏 -->
<link rel="stylesheet" href="__HOME_PUBLIC__/skin/css/idangerous.swiper.scrollbar.css"><!-- 划屏滚动条 -->
<script src="__HOME_PUBLIC__/skin/js/idangerous.swiper-2.0.min.js"></script><!-- 划屏 -->
<script src="__HOME_PUBLIC__/skin/js/idangerous.swiper.scrollbar-2.0.js"></script><!-- 划屏滚动条 -->
<SCRIPT language=javascript> 
<!-- 
window.onerror=function(){return true;} 
// --> 
</SCRIPT> 

<script>
$(function(){
	$("#menu ul").animate({top: 0}, 1000);
});
</script>

<!-- 产品滑动 -->
<script type="text/javascript" src="__HOME_PUBLIC__/skin/js/jquery.promptu-menu.js"></script>
<script type="text/javascript" src="__HOME_PUBLIC__/skin/js/pro.js"></script>
<script type="text/javascript"> 

</script>


</head>

<body>
<div class="in_wrapper">
	<include file="nav" />
    <!--/top-->
    
    <div class="tip tip_t">
    <div class="tip_l">当前位置：产品中心-{$group1['name']}-{$group2['name']}</div>
    <div class="tip_r">
      <form action="{:U('Product/search')}" method="post">
            <input class="txt" name="name" type="text" placeholder="产品搜索" />
            <input type="submit" class="btn_ss22" href="search.html">
            <input type="submit" class="btn_ss2" href="gsearch.html"></div>
     </form>
    <div class="clear"></div>
    </div>
  	<!--/tip-->

    <div class="content">
    <div class="l_nav" style="width:129px; ">
      <div align="center"><img src="__HOME_PUBLIC__/skin/img/ico_up.png" /></div>
      <ul class="gundongtiao">
        <volist name="list" id="vo"><!-- 1级分类 -->
            <if condition="$vo.id eq $id2">
            	<li><a href="{:U('Product/pro_list?id='.$vo['pid'].'&id2='.$vo['id'])}" class='l_navdq'>{$vo.name}</a></li>
            <else /> 
            	<li><a href="{:U('Product/pro_list?id='.$vo['pid'].'&id2='.$vo['id'])}" >{$vo.name}</a></li>
            </if>
        </volist>
      </ul>
      <div align="center"><img src="__HOME_PUBLIC__/skin/img/ico_down.png" /></div>
    </div>
    
    <div class="pro_ul">
      <ul class="gundongtiao1">
        <volist name="list2" id="vo"><!-- 2级分类 -->
            <li><a href="{:U('Product/pro?id='.$vo['id'])}"><img src="__ROOT__/Uploads/Images/{$vo.image}"><div class="pro_l">{$vo.name}</div></a></li>
        </volist>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <!--/product--> 
  </div>
  <!--content-->
  <div class="h45"></div>
</div>

</body>
</html>
