<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<title>酷乐虎壁纸系统</title>
<meta name="keywords" content="酷乐虎壁纸系统" />
<meta name="description" content="酷乐虎壁纸系统" />
<meta name="robots" content="all" />
<meta name="author" content="酷乐虎壁纸系统" />
<meta name="Classification" content="酷乐虎壁纸系统" />
<meta name="Copyright" content="酷乐虎网络 CopyRight 2014" />
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" type="text/css" href="__HOME_PUBLIC__/themes/css/style.css">
<script src="__HOME_PUBLIC__/themes/js/jquery-1.10.1.min.js"></script>
<script src="__HOME_PUBLIC__/themes/js/jquery-migrate-1.2.1.min.js"></script>

<script>
$(function(){
	$(".top_m_l").animate({top: 22}, 1000);
	$(".top_m_r").animate({top: 15}, 1000);
});
</script>


<!--[if lte IE 6]>
<script type="text/javascript" src="themes/js/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('body *');
</script>
<![endif]-->
<!--[if lt IE 9]>
	<script src="themes/js/html5.js"></script>
<![endif]-->
</head>

<body>

<div class="top">
	<div class="top_m">
    	<div class="top_m_l">
          <a href="javascript:void(0)" class="top_a1">{:getName()}</a>
            <a href="{:U('Product/shop_cart')}" class="top_a2">购物车</a>
            <a href="{:U('Product/wddd')}" class="top_a3">用户中心</a>
            <a href="{:U('Product/prosc')}" class="top_a3">产品收藏夹</a>
        </div>
        <div class="top_m_r">
          <a class="a1" href="javascript:void(0)">店内商品</a>
          <a class="a2" href="{:U('News/index')}">信息中心</a>
          <a class="a3" href="{:U('Product/product')}">产品中心</a>
          <a class="a4" href="{:U('Product/huodong')}">优惠活动</a>
        </div>
        <div class="tip_r"><a href="javascript:;" onClick="javascript:history.back(-1);" class="btn_back"></a></div>
    </div>
</div>
<!--/top-->

<div class="tip">
	<div class="tip_l">当前位置： <a href="#">产品中心</a> > <a href="#">产品中心</a></div>
</div>
<!--/tip-->

<div class="in_wrapper_pag">

	<div class="center">
      <div class="c_nav">
        <li><a  href="{:U('Product/user')}">用户资料</a></li>
        <li><a class="on" href="{:U('Product/shop_cart')}">购 物 车</a></li>
        <li><a  href="{:U('Product/wddd')}">我的订单</a></li>
        <li><a href="{:U('Product/ddcx')}">订单查询</a></li>
        <li><a  href="{:U('Product/statistic')}">销售统计</a></li>
      </div>
      <div class="c_con">
        <h3>用户单位：吉林某某装饰材料公司</h3>
        <div class="c_con_2">
        
          <div class="gwc">
          	<h5>购物车商品数量：<b id="product_count"><php>echo count($shop_cart);</php>个</b>      消费总金额：<b id="play_count_price">{$price_count}元</b></h5>
            <ul>
            	<li>
                	<table width="100%" cellspacing="0" cellpadding="0" class="tabl" style="background:#eaeaea;">
  						<tr>
                            <td width="14%">产品编号</td>
                            <td width="28%">产品名称</td>
                            <td width="24%">产品数量</td>
                            <td width="12%">产品单价</td>
                            <td width="11%">产品总额</td>
                            <td width="11%">属性</td>
  						</tr>
					</table>
                </li>
                
                <div class="gecgd">
                    <volist name="shop_cart" id="vo">
                        <li>
                            <table width="100%" cellspacing="0" cellpadding="0" class="tabl">
                                    <tr>
                                        <td width="14%">{$vo.id}</td>
                                        <td width="28%">{$vo.name}</td>
                                        <td width="24%">
                                            <div class="cart-goods-cout">
                                                <div class="cout">
                                                    <a class="ui-cout-btn add" onclick="" title="加一件" name="cart1_goods_numi01" href="#">加一件</a>
                                                    <input id="quantity_{$vo.id}" type="text" value="1">
                                                    <a class="ui-cout-btn les" onclick="" title="减一件" name="cart1_goods_numd01" href="#">减一件</a> </div>
                                            </div>
                                        </td>
                                        <td width="12%">{$vo.price}</td>
                                        <td width="11%"><b>{$vo.price}</b></td>
                                        <td width="11%"><a href="{:U('Product/shop_cart?del_id='.$vo['id'])}" class="gwchong">删除</a></td>
                                    </tr>
                            </table>
                        </li>
                    </volist>
                </div>
                
            </ul>
          </div>
          
          <div align="right" style="margin-right:30px;">
            <input class="btn_1" name="" type="submit" value="提交订单" onclick="" />
          </div>
        </div>
      </div>
    </div>

</div>
<script type="text/javascript" src="__HOME_PUBLIC__/themes/js/lanrenzhijia.js"></script>
<div class="PathInner" id="PathMenu" style="position:fixed; left:20px; bottom:20px;">
  <div class="PathMain">
    <div class="Tmain" onclick="PathRun();">
      <div class="rotate"><span class="cover"></span></div>
    </div>
  </div>
  <div class="PathItem">
   <a class="link" href="{:U('Product/product')}" title="产品中心"> 
    <span class="item" style="background-image:url(__HOME_PUBLIC__/images/moment_icn_pic.png);"></span>
   </a>
  </div>
  <div class="PathItem"> 
   <a class="link" href="{:U('Product/huodong')}" title="优惠活动"> 
    <span class="item" style="background-image:url(__HOME_PUBLIC__/images/moment_icn_info.png);"></span> 
   </a>
  </div>
  <div class="PathItem"> 
   <a class="link" href="{:U('Product/search')}" title="高级搜索"> 
    <span class="item" style="background-image: url(__HOME_PUBLIC__/images/moment_icn_address.png);"></span> 
   </a>
  </div>
  <div class="PathItem"> 
   <a class="link" href="{:U('Product/shop_cart')}" title="我的购物车"> 
    <span class="item" style="background-image: url(__HOME_PUBLIC__/images/moment_icn_price.png);"></span> 
   </a>
  </div>
</div>
</body>
<script type="text/javascript">
    $(function(){

        //增加数量
        $(".add").click(function(){
            var cur_input = $(this).siblings("input");
            var id = $(this).closest('tr').find("td:eq(0)").text();                             //产品id
            var count_price  = parseInt($(this).closest('tr').find("td:eq(4)>b").html())        //总额
            var price  = parseInt($(this).closest('tr').find("td:eq(3)").text())                //单价

            $(cur_input).val(parseInt($(cur_input).val())+1);       //数量增
            /*------------表格内的-------------*/
            $(this).closest('tr').find("td:eq(4)>b").html(count_price += price);//总额增加
            /*------------表格上部的-------------*/
            $("#play_count_price").html((parseInt($("#play_count_price").html())+price)+"元");
            $("#product_count").html((parseInt($("#product_count").html())+1) + "个");
        })
        //减少数量
        $(".les").click(function(){
            var cur_input = $(this).siblings("input");
            //最少要为1
            if($(cur_input).val() == 1){
                alert("产品数量最少为1");
                return false;
            }
            var id = $(this).closest('tr').find("td:eq(0)").text();                             //产品id
            var count_price  = parseInt($(this).closest('tr').find("td:eq(4)>b").html())        //总额
            var price  = parseInt($(this).closest('tr').find("td:eq(3)").text())                //单价

            $(cur_input).val(parseInt($(cur_input).val())-1);       //数量减
            /*------------表格内的-------------*/
            $(this).closest('tr').find("td:eq(4)>b").html(count_price -= price);//总额增加
            /*------------表格上部的-------------*/
            $("#play_count_price").html((parseInt($("#play_count_price").html())-price)+"元");
            $("#product_count").html((parseInt($("#product_count").html())-1) + "个");
            $("btn_1").attr('onclick',"{:U('Product/shop_cart2?count_price=')}")
        });

        //显示提交表单页面
        $(".btn_1").click(function(){
            //如果产品数量为零提交订单不可用
            if(parseInt($("#product_count").html()) <= 0){
                alert("您的购物车内还没有任何产品！");
                return false
            }
            location.href="__ROOT__/index.php?s=/Home/Product/shop_cart2/play_count_price/"+$("#play_count_price").html()+"/number/"+ Date.parse(new Date());
        })
    })

</script>
</html>