<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>店内商品-酷乐虎壁纸系统</title>
<meta name="keywords" content="酷乐虎壁纸系统">
<meta name="description" content="酷乐虎壁纸系统">
<meta name="author" content="酷乐虎壁纸系统"/>
<meta name="copyright" content="酷乐虎壁纸系统"/>
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<link rel="stylesheet" type="text/css" href="__HOME_PUBLIC__/skin/css/style.css">
<script src="__HOME_PUBLIC__/skin/js/jquery-1.10.1.min.js"></script>
<script src="__HOME_PUBLIC__/skin/js/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="__HOME_PUBLIC__/skin/css/idangerous.swiper.css">
<!-- 划屏 -->
<link rel="stylesheet" href="__HOME_PUBLIC__/skin/css/idangerous.swiper.scrollbar.css">
<!-- 划屏滚动条 -->
<script src="__HOME_PUBLIC__/skin/js/idangerous.swiper-2.0.min.js"></script><!-- 划屏 -->
<script src="__HOME_PUBLIC__/skin/js/idangerous.swiper.scrollbar-2.0.js"></script><!-- 划屏滚动条 -->

<script>
$(function(){
	$("#menu ul").animate({top: 0}, 1000);
});
</script>

<!-- 产品滑动 -->

</head>

<body>
<div class="in_wrapper">
  <include file="nav" />
  <!--/top-->
  
  <div class="tip tip_t">
    <div class="tip_l">当前位置：我的订单</div>
    <div class="tip_r">
     <form action="{:U('Product/search')}" method="post">
            <input class="txt" name="name" type="text" placeholder="产品搜索" />
            <input type="submit" class="btn_ss22" href="search.html">
            <input type="submit" class="btn_ss2" href="gsearch.html"></div>
     </form>
    <div class="clear"></div>
  </div>
  <!--/tip-->
  
  <div class="content" style="padding:10px 0; height:548px;">
    <div class="center">
      <div class="c_nav">
       <li><a href="{:U('Product/user')}">用户资料</a></li>
        <li><a class="on" href="{:U('Product/wddd')}">我的订单</a></li>
        <li><a href="{:U('Product/ddcx')}">订单查询</a></li>
        <li><a href="{:U('Product/statistic')}">销售统计</a></li>
      </div>
      <div class="c_con">
        <h3>用户单位</h3>
        <div class="c_con_3">
          <h4 style="margin-bottom:10px;">
            <div class="fl"><a class="ww" href="{:U('Product/wddd')}">已处理</a><a class="ww" href="{:U('Product/wddd?status=1')}">处理中</a><a class="ww" href="{:U('Product/wddd?status=0')}">未处理</a></div>
            <div class="fr">
            </div>
            <div class="cl"></div>
          </h4>
          <table>
            <tr>
              <th class="td1">订单编号</th>
              <th class="td2">顾客名称</th>
              <th class="td3">产品编号</th>
              <th class="td4">产品名称</th>
              <th class="td5">数量</th>
              <th class="td6">金额</th>
              <th class="td7">状态</th>
              <th class="td8">订单日期</th>
            </tr>
            <volist name="list" id="vo">
                <tr>
                  <td class="td1"><strong>{$vo.number}</strong></td>
                  <td class="td2">{$vo.recipient}</td>
                  <td class="td3">{$vo.pnumber}</td>
                  <td class="td4">{$vo.name}</td>
                  <td class="td5">{$vo.count}</td>
                  <td class="td6">{$vo.price}</td>
                  <td class="td7">{$vo.status|get_status}</td>
                  <td class="td8"><span>{$vo.time|date="Y-m-d",###}</span></td>
                </tr>
            </volist>
          </table>
          <div class="fy">
            <div class="fl">{$page}</div>
          </div>
        </div>
      </div>
    </div>
    
    <!--/end--> 
  </div>
  <!--content-->
  <div class="h45"></div>
</div>
</body>
</html>
